@property --angleinput {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --radiusbutton {
    syntax: "<lenght>";
    inherits: false;
    initial-value: 10px;
}

.checkbox-option input+label:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(var(--angleinput)) translateY(-2px);
    border-radius: 25%;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid white;

    cursor: pointer;
    vertical-align: middle;
    transition: 500ms;
}

.checkbox-option input:checked+label:before {
    box-shadow: #44443f 0px 0px 5px;
    border-color: #464853;
    --angleinput: -235deg;
    background-color: #84857d;
    transform: rotate(var(--angleinput)) translateY(-2px);
    width: 24px;
    border-radius: 50%;
    border-top-right-radius: 20%;
    transition: 750ms;
}

.checkbox-option input:checked+label {
    color: #ffece3;
    transition: 500ms cubic-bezier(0.7, 0.41, 0.66, 0.98);
}

.inputs button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    height: 50px;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    --radiusbutton: 10px;
    border-radius: var(--radiusbutton);
    transform: translateY(-30px);
    transition: 100ms;
}

.inputs button:focus {
    outline: none;
    background-color: #998376;
    box-shadow: #5c6381 0px 0px 10px;
    transform: translateY(-30px) scale(1.05);
    --radiusbutton: 20px;
    transition: 1s;
}